@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #2d2d2d;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1172px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 110px;
  position: relative;
}
.header-menu {
  height: 110px;
  background: #ffffff;
}
.header-menu-inner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 22px;
}
.header-menu-inner__left {
  width: 30%;
}
.header-menu-inner__left-elment {
  display: flex;
  align-items: center;
}
.header-menu-inner__left-item:not(:first-child) {
  margin-left: 58px;
}
.header-menu-inner__left-item a {
  color: #898989;
}
.header-menu-inner__left-item a i {
  color: #d8be73;
}
.header-menu-inner__right {
  width: 70%;
}
.header-menu-inner__right-elment {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header-menu-inner__right-item:not(:last-child) {
  margin-right: 48px;
}
.header-menu-inner__right-item a {
  color: #2d2d2d;
}
.header-center {
  width: 1300px;
  height: 109px;
  margin: -50px auto 0 auto;
  background: #1c2f4d;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.header-center__grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
}
.header-center__grid-logo {
  padding-top: 35px;
  color: #ffffff;
  font-size: 24px;
}

.header-center__grid-logo h2 {
  font-weight: bold ;
  margin-top: auto;
}

.header-center__grid-icon {
  padding-top: 35px;
  margin-left: -10px;
}
.header-center__grid-icon-elment {
  display: flex;
  align-items: center;
}
.header-center__grid-icon-item {
  width: 38px;
  position: relative;
  background: #283857;
  padding: 11px 12px;
  border-radius: 50%;
}
.header-center__grid-icon-item:first-child {
  padding: 11px 14px;
}
.header-center__grid-icon-item:not(:first-child) {
  margin-left: 2px;
}
.header-center__grid-icon-item a i {
  font-size: 14px;
  color: #ffffff;
}
.header-center__grid-select select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  background: #d7bd73;
  background-image: none;
  cursor: pointer;
  padding-left: 35px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 30px;
}
.header-center__grid-select select::-ms-expand {
  display: none;
}
.header-center__grid-select {
  position: relative;
  display: flex;
  width: 162px;
  height: 48px;
  overflow: hidden;
  margin-left: 40px;
  margin-top: 30px;
}
.header-center__grid-select::after {
  content: "∨";
  position: absolute;
  padding-top: 17px;
  right: 41px;
  transition: 0.25s all ease;
  pointer-events: none;
  color: #ffffff;
}
.header-center__grid-search {
  display: flex;
  padding-top: 30px;
}
.header-center__grid-search input {
  width: 380px;
  height: 48px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: -80px;
  background: none;
  border: 1px solid #898989;
}
.header-center__grid-search button {
  background: #898989;
  padding: 14px 16px;
  border-radius: 50%;
  margin-left: -46px;
  border: 0;
  color: #ffffff;
}
.header-center__grid-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 30px;
}
.header-center__grid-login button {
  width: 180px;
  height: 48px;
  background: none;
  border-radius: 30px;
  color: #d8be73;
  border: 1px solid #ffffff;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.slider {
  width: 110%;
  height: 100%;
}
.slider img {
    width: 100%;
}
.slider h1 {
 color: white;
 position: absolute;
 top: 35%;
 left: 20%;
 color: white;
 font-weight: bold;
 font-size: 40px;
} 

.slider h2 {
  color: white;
  position: absolute;
  top: 40%;
  left: 20%;
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin-top: 30px;
}
 .slider p {
  position: absolute;
  top: 49%;
  left: 20%;
  color: #d8be73;
  font-size: 20px;
  margin-top: 50px;
 }

.slider button{
  height: 50px;
  position: relative;
  width: 250px;
  position: absolute;
  top: 63%;
  text-align: center;
  left: 20%;
  color:white;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #d8be73;
  border-radius: 30px;
  background-color: transparent;
  text-decoration: none;
  
}



.services {
  margin-top: -100px;
  width: 100%;
  height: 300px;
}
.services-center {
  width: 100%;
  margin: 118px auto;
  background: orange;
}
.services-list {
  margin-top: 118px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.services-item {
  background-color: #ffffff;
}

.services-item h3{
  text-align: center;
}
.services-tem:not(:first-child) {
  padding-left: 50px;
}
.services-box {
  width: 206px;
  height: 200px;
  position: relative;
  padding-left: 54px;
}
.services-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}
.services-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  margin: 25px 29px;
}
.services-number {
  width: 67px;
  height: 67px;
  background: #1c2f4d;
  border-radius: 50%;
  position: absolute;
  margin: 110px 145px 160px;
}
.services-number span {
  color: #ffffff;
  position: absolute;
  margin: 20px 20px 20px 30px;
}
.services-item h3 {
  padding-top: 20px;
  padding-left: 52px;
  font-size: 22px;
  font-weight: bold;
}
.services-item p {
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 25px;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  line-height: 1.5;
}

.courses {
  margin-top: 150px;
  width: 100%;
  position: relative;
}
.courses-top::before {
    content: '';
    width: 100%;
    position: absolute;
    background: #d8be73;
    left: 0;
    bottom: -10%;
    z-index: -1;
    height: 500px;
    
}

.courses-header {
  text-align: center;
}
.courses-image {
  width: 128px;
  height: 91px;
  margin-bottom: 10px;
}
.courses-header h3 {
  font-size: 45px;
  font-weight: bold;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.courses-header p {
  font-size: 16.5px;
  color: #605843;
}
.courses-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 1rem;
  padding: 1rem 0;
}
.courses-box {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
}
.courses-box__image {
  width: 100%;
  height: 238px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.courses-list {
  padding-left: 50px;
  padding-right: 30px;
  margin-bottom: 34px;
}
.courses-review {
  display: flex;
  margin-bottom: 20px;
}
.courses-review__left {
  width: 50%;
  margin-top: 38px;
  font-size: 12px;
  color: #d7bd73;
}
.courses-review__right {
  width: 50%;
}
.courses-price {
  width: 90px;
  height: 80px;
  background: #d7bd73;
  float: right;
  position: relative;
  text-align: center;
  border-radius: 20px;
  margin-top: -43px;
}
.courses-price span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
}
.courses-list h4 {
  font-size: 21px;
  font-weight: bold;
  width:  300px;
  padding-right: 70px;
  margin-bottom: 22px;

  line-height: 1.5rem;
}
.courses-list p {
  font-size: 14px;
  padding-right: 45px;
  line-height: 1.5rem;
}
.courses-cut i {
  color: #e3e3e3;
}
.courses-dotted {
  width: 100%;
  margin-top: -8px;
  border-top: 1px dotted #e3e3e3;
}
.courses-footer {
  width: 100%;
  height: 60px;
  margin-top: 8px;
}
.courses-footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 50px;
  margin-right: 25px;
}
.courses-footer__item {
  width: 100%;
  height: 40px;
  background: #ffffff;
}
.courses-footer__item i {
  font-size: 12px;
}
.courses-footer__lectures {
  padding-top: 10px;
}
.courses-footer__hours {
  padding-top: 10px;
  padding-left: 14px;
}
.courses-footer__box {
  width: 35px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #898989;
  border-radius: 5px;
  float: right;
  position: relative;
}
.courses-footer__box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* tranform */

.left  h1 {
font-weight: bold;
}
.left p {
  font-size: 18px;
}

.right1 {
  
  margin: 0;
  padding: 0;
}

.right1 img {
  display: block;
  width: 98%;
  height: 98%;
}

.right1 h3 {
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.right1:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: none;
  display: flex;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.right1 span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
}

.right1 h2 {
  position: absolute;
  top: 44%;
  left: 12%;
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}


.coure-s {
  position: absolute;
  right:  15% ;
  width: 100px;
  height: 30px;
  background: #d7bd73;
  float: right;
  position: relative;
  text-align: center;
  border-radius: 20px;
  margin-top: -43px; 

}

/* Subcribe */
.Subcribe {
  text-align: center;
  margin-top: -45%;
}

.Subcribe input {
  width: 60%;
  height: 55px;
  border-radius: 30px ;
  border: #ffffff;
  background-color: rgb(240, 226, 226);
}
 .Subcribe button {
   background-color: #d7bd73;
   height: 36px;
   width: 100px;
   border-radius: 15px;
   top: -20px;
   right: -230px;
   position: relative;
   color: white;
   border: 1px;
 }

.chandung {
  margin-left: 700px;
}

.features {
  margin-top: 200px;
  width: 100%;
  height: auto;
  background: orange;
}
.features-center {
  display: flex;
}
.features-left {
  width: 50%;
  height: auto;
  background: #1c2f4d;
}
.features-right {
  width: 50%;
  height: auto;
  background: blue;
  position: relative;
}
.features-all {
  padding-left: 100px;
  padding-right: 173px;
}
.features-all h3 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 100px;
}
.features-all i {
  font-size: 50px;
  padding-top: 40px;
}
.features-all p {
  font-size: 17px;
  padding-top: 21px;
  padding-right: 25px;
  line-height: 1.5rem;
  color: #ffffff;
}
.features-image {
  display: flex;
  padding-top: 30px;
}
.features-image__name {
  margin-left: 20px;
  margin-right: 60px;
}
.features-image__name h4 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  color: #ffffff;
}
.features-image__name p {
  font-size: 12px;
  margin-top: -15px;
  color: #605843;
}
.features-button {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.features button{
  height: 50px;
  position: relative;
  width: 150px;
  position: relative;
  text-align: center;
  color:#d8be73;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #d8be73;
  border-radius: 30px;
  background-color: transparent;
  text-decoration: none;
  font-size: 14px;
}
.features-next {
  padding-top: 15px;
  padding-left: 30px;
  width: 154px;
  height: 45px;
  background: none;
  font-size: 14px;
  color:white;
  border-radius: 30px;
  margin-left: 290px;
}
.features-next i {
  padding-left: 3px;
  color: #d8be73;
}
.features-right img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.features-description {
  position: absolute;
  padding-top: 100px;
  padding-left: 100px;
}

.client-1 {
  width: 78px;
  height: 78px;
  border-radius: 50%;
}

.client-2 {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin-top: 10px;
  padding-right: 2px;
}

.description-1 {
  display: flex;
  padding-bottom: 60px;
}

.description-1 i {
  font-size: 70px;
  padding-right: 10px;
}

.description-title h4 {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 10px;
}

.description-title p {
  padding-right: 200px;
  font-size: 17px;
  color: white;
  line-height: 1.5rem;
}

/* recent courses */
.recent {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.recent-center {
  text-align: center;
  padding-top: 121px;
}
.recent-center i {
  font-size: 70px;
}
.recent-center h3 {
  font-size: 40px;
  font-weight: bold;
  padding-top: 10px;
}
.recent-center p {
  font-size: 15px;
  padding-top: 10px;
}
.recent-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #898989;
  border-left: 1px solid #898989;
  border-right: 1px solid #898989;
  margin-left: 380px;
  margin-right: 380px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  margin-bottom: 47px;
}
.recent-menu__all {
  padding-right: 20px;
}
.recent-menu__art {
  padding-right: 20px;
}
.recent-menu__exercise {

  padding-right: 20px;
  color: #d8be73;
  border-bottom: 2px solid #d8be73;

}
.recent-menu__design {
  padding-right: 20px;
}
.recent-menu__music {
  padding-right: 20px;
}
.recent-menu__all span {
  font-size: 18px;
  padding-right: 15px;
}
.recent-menu__art span {
  font-size: 18px;
  padding-right: 15px;
}
.recent-menu__exercise span {
  font-size: 18px;
  padding-right: 15px;
  
}
.recent-menu__design span {
  font-size: 18px;
  padding-right: 15px;
}
.recent-menu__music span {
  font-size: 18px;
  padding-right: 15px;
}
.recent-menu__all i {
  font-size: 14px;
  padding-right: 5px;
}
.recent-menu__art i {
  font-size: 14px;
  padding-right: 5px;
}
.recent-menu__exercise i {
  font-size: 14px;
  padding-right: 5px;
}
.recent-menu__design i {
  font-size: 14px;
  padding-right: 5px;
}
.recent-menu__music i {
  font-size: 14px;
  padding-right: 5px;
}
.recent-footer {
  text-align: center;
  padding-top: 68px;
  padding-bottom: 120px;
}
.recent-footer a {
  padding: 20px 60px;
  font-size: 14px;
  border-radius: 30px;
  background: #1c2f4d;
  color: #ffffff;
}

.provides {
  height: 600px;
  text-align: center;
  color: white;
}

.provides img {
  width: 100%;
}

.provides h2 {
  font-weight: bold;
  position: relative;
  margin-top: -25%;
  font-size: 40px;
}

.provides h1 {
  font-weight: bold;
  

} 
.provides p {
  margin-top: 12px;
}

.provides-a  button {
  margin-top: 20px;
  padding: 20px 55px;
  font-size: 14px;
  border-radius: 30px;
  background: transparent;
  color: #ffffff;
  border: 3px solid white;
  font-weight: bold;
}




/* intrustor */
.service {
  margin-top: -100px;
  border-radius: 3px;
}

.service-left h4 {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.service-left p  {
  text-align: center;
  color: white;
}


.service1 {
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left :-50%;
  width: 78px;
  height: 78px;
  border-radius: 50%;
}



.service-right h4 {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-weight: bold;

}

.service-right p  {
  text-align: center;
  color: white;
}


.service2 {
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left :-50%;
  width: 78px;
  height: 78px;
  border-radius: 50%;
}

/* footer */
.right-footer  h2 {
  font-weight: bold;

}

.street{
  color : #d8be73
}

.cennter-footer h3 {
  font-weight: bold;
}

.cennter2-footer h3 {
  font-weight: bold;

}

.left-footer h3 { 
  color: white;

}
.footer-2 i {
  width: 38px;
  position: relative;
  background: #e7ecf5;
  padding: 11px 12px;
  border-radius: 50%;
  float: right;
  color: #d8be73 ;
}